*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto" ,sans-serif;
}

body{
    min-width: 1400px;
}

header{
    width: 100%;
    height: 65px;
    border-bottom: rgb(230, 230, 230) solid 1px;
    display: flex;
    justify-content:space-between;
    padding: 0 20px;
    align-items: center;
}

.love:hover{
    color: red;
    transition: color 0.3s ease-in-out;
}

.blue:hover{
    color: blue;
    transition: color 0.3s ease-in-out;
}

.h-left{
    display: flex;
    gap: 10px;
    position: relative;
    width: 900px;
    height: 100%;
    align-items: center;
    
}

.h-left>h1{
    padding-bottom: 5px;
    font-family: "lotu";
    transition: all 0.3s ease-in-out;
}

.h-left>h1:hover{
    transition: color 0.3s ease-in-out;
    color: green;
    cursor:pointer;
}

#inp-search:hover{
    background-color: #aef8a6;
    width: 500px;
    height: 45px;
}

#inp-search{
    transition: all 0.3s ease-in-out;
    padding-left: 35px;
    margin-top: 5px;
    width: 250px;
    height: 35px;
    border-radius: 20px;
    border: none;
    background-color: #f0f0f0;
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="%23777"><path d="M15.5 14h-.79l-.28-.27a6.5 6.5 0 0 0 1.48-5.34c-.47-2.78-2.79-5-5.59-5.34a6.505 6.505 0 0 0-7.27 7.27c.34 2.8 2.56 5.12 5.34 5.59a6.5 6.5 0 0 0 5.34-1.48l.27.28v.79l4.25 4.25c.41.41 1.08.41 1.49 0 .41-.41.41-1.08 0-1.49L15.5 14zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z"/></svg>');
    background-repeat: no-repeat;
    background-position: left 10px center;
    background-size: 20px;
}

.h-right{
    display: flex;
    gap: 5px;
    align-items: center;
    color: #7a7a7a;
    transition: all 0.5s ease-in-out;
}

.h-right>svg:hover{
    transition: color 0.5s ease-in-out;
    color: #202020;
    cursor: pointer;
}

.h-right>span:hover{
    transition: color 0.5s ease-in-out;
    color: #202020;
    cursor: pointer;
}

article{
    width: 70%;
    height: auto;
    padding-right: 100px;
    display: flex;
    justify-content: flex-end;
    border-right: solid 1px rgb(230, 230, 230);
}

.article{
    width: auto;
}

nav>ul{
    display: flex;
    align-items: center;
    list-style: none;
    border-bottom: solid 1px rgb(230, 230, 230);
    color: #7a7a7a;
}

nav>ul>li{
    padding: 30px 10px 20px 10px;
    color: #7a7a7a;
    height: 66px;
    transition: all 0.3s ease-in;
    cursor:default;
}

nav>ul>li:hover{
    border-bottom: solid 1px black;
    color: black;
    
}

#profile-img{
    border-radius: 50%;
}

.head-section1{
    display: flex;
    align-items: center;
    padding: 30px 0 20px 0;
    gap: 5px;
}

.in{
    color: #7a7a7a;
    padding-bottom: 1px;
    font-size: 14px;
}

.inn{
    color: #7a7a7a;
    font-size: 14px;
}

.ma{
    font-size: 16px;
    color: #525151;
    transition: all 0.3s ease-in;
}

.ma:hover{
    color: black;
    transform: scale(1.1);
    transition: all 0.3s ease-in;
}

.maa{
    font-size: 15px;
    color: #202020;
    font-weight: 600;
    transition: all 0.3s ease-in;
}

.maa:hover{
    color: black;
    transform: scale(1.1);
    transition: all 0.3s ease-in;
}

.body-section{
    display: flex;

}

.of{
    font-size: 25px;
    padding-bottom: 5px;
    font-weight: 700;
    color: #302f2f;
    transition: all 0.3s ease;
}

.of:hover{
    transform: scale(1.1);
    color: orangered;
    transition: all 0.3s ease;
}
.or{
    color: #7a7a7a;
    padding-bottom: 5px;
    transition: all 0.3s ease;
}

.or:hover{
    transition: all 0.3s ease;
    color: red;
}

.body-section1-left-bottom{
    display: flex;
    justify-content: space-between;
    padding: 15px 0;
}

.body-section1-left-bottom-1>ul{
    display: flex;
    list-style: none;
    gap: 15px;
    color: #727272;
    align-items: center;
}

.body-section1-left-bottom-2>ul{
    display: flex;
    list-style: none;
    gap: 20px;
    color: #727272;
    align-items: center;
}

.body-section1-left-bottom-1>ul>li{
    display: flex;
    align-items: center;
    gap: 2px;
}

.body-section1-right {
    width: 232px;;
    display: flex;
    justify-content: flex-end;
    align-items: center;

}

.body-section1-left{
    width: 430px;
}

.section1{
    border-bottom: rgb(230, 230, 230) solid 1px;
}

aside{
    padding: 30px 20px 0 30px;
    width: auto;
}

.container{
    display: flex;
    flex-direction: row;
}

.aside-section1{
    height: 360px;
    margin-bottom: 25px;
}

.aside-section2{
    height: 360px;
}
.aside-section1-head{
    font-size: 20px;
    color: rgb(20, 20, 20);
    font-weight: 600;
    padding-bottom: 20px;
}

.aside-section1-div1-up{
    padding: 12px 0;
    display: flex;
    align-items: center;
    gap: 3px;
}

.aside-section1-div1-up>img{
    border-radius: 50%;
}

.aside-section1-div1-down{
    font-size: 13px;
    padding-bottom: 12px;
    padding-top: 5px;
}

.aside-section1>h3>a{
    text-decoration: none;
    color: rgb(22, 134, 22);
    font-size: 17px;
    font-weight: 450;
    transition: all 0.3s ease;
}

.aside-section1>h3>a:hover{
    color: blue;
}

.aside-section1>h3{
    height: 45px;
    padding-top: 10px;
}

.aside-section2-body>div{
    display: flex;
}
 
.aside-section2-body>div>p{
    background-color:#f0f0f0;
    padding: 12px 16px;
    border-radius: 25px;
    color: rgb(34, 34, 34);
    margin: 5px;
}

.aside-section2>h3>a{
    text-decoration: none;
    color: rgb(22, 134, 22);
    font-size: 17px;
    font-weight: 450;
    transition: all 0.3s ease;
}

.aside-section2>h3>a:hover{
    color: blue;
}

.aside-section3>h3>a{
    text-decoration: none;
    color: rgb(22, 134, 22);
    font-size: 17px;
    font-weight: 450;
    transition: all 0.3s ease;
}

.aside-section3>h3>a:hover{
    color: blue;
}

.aside-section2>h3{
    height: 45px;
    padding-top: 20px;
    margin-bottom: 40px;
}

.aside-section3-div1-img>img{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    margin-right: 25px;
}

.aside-section3-div1{
    display: flex;
    width: 380px;
    margin-bottom: 25px;
}

.aside-section3-div1-info>h3{
    font-weight: 850;
    margin-bottom: 5px;
}

.aside-section3-div1-info>p{
    color: #7a7a7a;
    margin: 0 0 3px 0;
    font-size: 15.6px;
}

#haha{
    color:rgb(26, 26, 26);
    margin: 0 0 12px 0;

}

.aside-section3-div1-btn>button{
    background-color: rgba(255, 255, 255, 0);
    padding: 8px 15px;
    border: solid 1px rgb(53, 52, 52);
    color: rgb(54, 54, 54);
    border-radius: 20px;
}

.aside-section3{
    height: 380px;
}

.i1{
    margin-left: 24px;
}

.i2{
    margin-left: 40px;
}

.i3{
    margin-left: 20px;
}

#rec{
    height: 90px;
    padding-top: 45px;
}

#rec-img{
    border-radius: 5px;

}
